@charset "UTF-8";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkslategray;
}

main {
    max-width: 300px;
    margin: auto;
}

h1#msg, p#frase, p.obs {
    color: white;
    text-align: center;
}

p.obs {
    margin-top: 200px;
    font-size: 0.7em;
}