body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: slategray;
}

main {
    max-width: 550px;
    margin: auto;
}

section {
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

section#resultado {
    visibility: hidden;
}