@charset "UTF-8";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: yellowgreen;
}

main {
    max-width: 500px;
    margin: auto;
}

section {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

span.tipo1 {
    color: red;
    font-weight: bolder;
}

span.tipo2 {
    color: blue;
    font-weight: bolder;
}

span.tipo3 {
    color: green;
    font-weight: bolder;
}