body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgreen;
    background-image: linear-gradient(to right, darkgreen, yellow);
}

main {
    max-width: 500px;
    margin: auto;
}

section {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

img {
    display: block;
    margin: auto;
}

span.sim {
    color: green;
    font-weight: bolder;
}

span.nao {
    color: red;
    font-weight: bolder;
}